.movie-card {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-info {
  text-align: center;
  padding: 10px;
}
